{% extends 'store/main.html' %}
{% block style %} About US -  Food Ordering Website {% endblock  %}
{% load static %}
{% block content %}

<div class="bg_bg">
<!-- about -->
<div class="about">
    <div class="container">
      <div class="row">
         <div class="col-md-12">
             <div class="title mt-5">
                <i><img src="{% static 'images1/title.png' %}" alt="#"/></i>
                <h2>About Our Food & Restaurant</h2>
                <span>
                Welcome to Online Food Ordering Application. “Pakistan's Fast Food cuisine” Restaurant. We opened our doors to customers in May 2021 serving a blend of the finest Pakistan's Fast Food cuisine.
                </span>
             </div>
          </div>
       </div>
       <div class="row">
         <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
             <div class="about_box">
                 <h3>Best Food</h3>
                    <p>
                    We are providing our esteemed customers with multiple different easy to
                    use and easy to handle options to order their favorite food without
                    having to waste time. At the same time the customers will be delighted
                    to use our platform because of many different overlooked options by
                    other platforms. We are trying to build a relationship of trust with our
                    treasured customers. Our platform Dedicated user account system so you
                    can make your own account for ease to login and order from wherever
                    and whenever. 
                    </p>
             </div>
         </div>
          <div class="col-xl-5 col-lg-5 col-md-10 col-sm-12 about_img_boxpdnt">
             <div class="about_img">
                 <figure><img src="{% static 'images1/about-img.jpg' %}" alt="#/"></figure>
             </div>
         </div>      
       </div> 
    </div>
</div>
<!-- end about -->
<div class="about mt-5">
    <div class="container">
       <div class="row">
          <div class="col-xl-5 col-lg-5 col-md-10 col-sm-12 about_img_boxpdnt">
             <div class="about_img">
                 <figure><img src="{% static 'images1/about-img.jpg' %}" alt="#/"></figure>
             </div>
         </div>
         <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
             <div class="about_box">
                 <h3>Best Food</h3>
                    <p>
                    Easy and quick checkout system so that you can order
                    your favorite food items as quick as possible. Direct billing system for
                    the ease of customer for online payment. Variety of restaurants available
                    to choose from including your favorite ones. New food items are being
                    added constantly. Quickly search your trusted restaurants for ease of
                    time. A fast response cart option to help our customers manage their
                    food items easily. Our server will transmit your request to the restaurants
                    the fastest.
                    </p>
             </div>
         </div>      
       </div> 
    </div>
</div>
<!-- end about -->

<!-- Our Client -->
<div class="Client">
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6 offset-md-3">
         <div class="Client_box">
<p>
Dedicated user account system so you can
make your own account for ease to login and order from wherever
and whenever.
<br>
Checkout system: Easy and quick checkout system so that you
can order your favorite food items as quick as possible.
<br>
Direct billing: Direct billing system for the ease of customer for
online payment.
<br>
Check restaurants: Variety of restaurants available to choose
from including your favorite ones.
<br>
Various food items being added: New food items are being added
constantly.
<br>
Searching option: Quickly search your trusted restaurants for
ease of time.
<br>
Cart option: A fast response cart option to help our customers
manage their food items easily.
</p>
         </div>
      </div>
    </div>
  </div>
</div>  
<!-- end Our Client -->
</div>

{% endblock content %}