{% extends 'store/main.html' %}
{% block style %} Home - Food Ordering Website {% endblock  %}
{% load static %}
{% block content %}

    <!-- start slider section -->
    <div class="slider_section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="full">
                        <div id="main_slider" class="carousel vert slide" data-ride="carousel" data-interval="5000">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="slider_cont">
                                                <h3>Our Restaurants<br>That deliver near You</h3>
                                                <p></p>
                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="slider_image full text_align_center">
                                                <img class="img-responsive" src="{% static 'images1/burger_slide.png' %}" alt="#" />
                                            </div>
                                        </div>
                                          
                                          <div class="container-fluid d-none d-md-block" style="position:absolute;top:35%;left:25%;z-index:200;width:50%;">
                                              <form class="d-flex" style="height:80px;" action="{% url 'search' %}" method="get">
                                              <input class="form-control"  type="search" placeholder="Search Your Results" aria-label="Search" name="query" id="query">
                                              <button class="btn btn-dark" type="submit" style="height:54px;"><img src="{% static 'images1/search_icon.png' %}" alt="#"></button>
                                              </form>
                                          </div>
                                          <div class="container-fluid d-block d-md-none" style="position:absolute;top:50%;left:1%;z-index:200;width:;">
                                              <form class="d-flex" style="height:80px;" action="{% url 'search' %}" method="get">
                                              <input class="form-control"  type="search" placeholder="Search Your Results" aria-label="Search" name="query" id="query">
                                              <button class="btn btn-dark" type="submit" style="height:54px;"><img src="{% static 'images1/search_icon.png' %}" alt="#"></button>
                                              </form>
                                          </div>

                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="slider_cont">
                                                <h3>Discover Restaurants<br>That deliver near You</h3>
                                                <p></p>
                                            </div>
                                        </div>
                                        <div class="col-md-7 full text_align_center">
                                            <div class="slider_image">
                                                <img class="img-responsive" src="{% static 'images1/burger_slide.png' %}" alt="#" />
                                            </div>
                                        </div>

                                          <div class="container-fluid d-none d-md-block" style="position:absolute;top:35%;left:25%;z-index:200;width:50%;">
                                              <form class="d-flex" style="height:80px;" action="{% url 'search' %}" method="get">
                                              <input class="form-control"  type="search" placeholder="Search Your Results" aria-label="Search" name="query" id="query">
                                              <button class="btn btn-dark" type="submit" style="height:54px;"><img src="{% static 'images1/search_icon.png' %}" alt="#"></button>
                                              </form>
                                          </div>
                                          <div class="container-fluid d-block d-md-none" style="position:absolute;top:50%;left:1%;z-index:200;width:;">
                                              <form class="d-flex" style="height:80px;" action="{% url 'search' %}" method="get">
                                              <input class="form-control"  type="search" placeholder="Search Your Results" aria-label="Search" name="query" id="query">
                                              <button class="btn btn-dark" type="submit" style="height:54px;"><img src="{% static 'images1/search_icon.png' %}" alt="#"></button>
                                              </form>
                                          </div>

                                    </div>
                                </div>
                            </div>
<!--                            
                          <div style="">
                            <a style="" class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
                                <i class="fa fa-angle-up"></i>
                            </a>
                            <a style="" class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
                                <i class="fa fa-angle-down"></i>
                            </a>
                          </div>
-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end slider section -->


    <!-- section -->
    <section class="resip_section">
        <div class="container">
            <div class="row">
         <div class="col-md-12">
       <div class="ourheading">
    <h2>Our Recipes</h2>
  </div>
</div>    
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="owl-carousel owl-theme">

{% for product in products %}
                <div class="item">
                    <div class="product_blog_img">
                        <img style="width:100%;height:150px;" src="{{product.imageURL}}" alt="#" />
                    </div>
                    <div class="product_blog_cont">
                        <h3>{{product.name}}</h3>
                        <h4><span class="theme_color">RS: </span>{{product.price}}</h4>
                    </div>
                </div>
{% endfor %}

            </div>
        </div>
    </div>
</div>
</div>
</div>
</section>

<div class="bg_bg">

<!-- blog -->
<div class="blog">
  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <div class="title">
          <i><img src="{% static 'images1/title.png' %}" alt="#"/></i>
              <h2>About Our Food & Restaurant</h2>
            <span>
            Welcome to Online Food Ordering Application. “Pakistan's Fast Food cuisine” Restaurant. We opened our doors to customers in May 2021 serving a blend of the finest Pakistan's Fast Food cuisine.
            </span>
        </div>
      </div>

      <div class="col-md-12">
        <div class="title">
          <i><img src="{% static 'images1/title.png' %}" alt="#"/></i>
          <h2>Checkout</h2>
        </div>
      </div>
    </div>

    <div class="row">
	{% for product in products %}
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mar_bottom mt-4">
        <div class="blog_box">
          <div class="blog_img_box">
            <img src="{{product.imageURL}}" style="width:100%;height:200px;" alt="#"/>
          </div>
          <h3>
            <div class="row">
                <div class="col-12">
                {{product.name}}
                </div>
                <div class="col-12">
                <span style="float:right;">Rs: {{product.price}}</span>
				</div>
            </div>
          </h3>
          <p>
            <button type="button" data-product="{{product.id}}" data-action="add" class="btn btn-outline-dark add-btn update-cart">Add To Cart</button>
            <button type="button" class="btn btn-outline-success"><a href="{% url 'viewdetail' product.id %}">View</a></button>
          </p>
        </div>
      </div>
		{% endfor %}

  </div>
</div>
<!-- end blog -->

<!-- Our Client -->
<!--
<div class="Client">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title">
          <i><img src="{% static 'images1/title.png' %}" alt="#"/></i>
          <h2>Our Client</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 offset-md-3">
         <div class="Client_box">
           <img src="{% static 'images1/client.jpg' %}" alt="#"/>
           <h3>Roock Due</h3>
           <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don’t look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn’t anything embarrassing hidden in the middle of text.</p>
           <i><img src="{% static 'images1/client_icon.png' %}" alt="#"/></i>
         </div>
      </div>
    </div>
  </div>
</div>  
-->
<!-- end Our Client -->
</div>

{% endblock content %}